@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/StarJedi.woff2') format('woff2'),
    url('fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.arial {
    font-family: Arial, sans-serif!important;
    font-weight: bold;
    font-size: 1.5em;
}

body {
    font-family: 'Star Jedi', Arial, sans-serif;
    background-image: url('img/fond.jpg');
}

.game-container {
    width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

.game-wrapper {
    position: relative;
}

.game-container .game-screen {
    width: 800px;
    height: 800px;
    border: none;
}

.game-container .game-layout {
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
}

.game-container .game-layout .start-screen,
.game-container .game-layout .end-screen {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/espace.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    opacity: 0;
}

.start-screen .wrapper, .end-screen .wrapper {
    text-align: center;
    flex-grow: 1;
}

.end-screen .highlightscore {
    color: red;
}

.end-screen ul {
    list-style: none;
    padding: 0;
}

.life, .score, .controls {
    position: absolute;
}

.life, .score {
    top: 0px;
    width: 50%;
    margin-top: 20px;
}

.life {
    right: 0;
    text-align: right;
    margin-right: 40px;
    margin-top: 43px;
}

.score {
    text-align: left;
    margin-left: 40px;
    font-size: 24px;
    left: 0;
}

.controls {
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.controls p {
    margin: 10px 20px;
}

@keyframes upscore {
    from {
        top: 40px;
        opacity: 1;
    }
    to {
        top: 0px;
        opacity: 0.5;
    }
}

.upscore {
    animation: upscore 2s;
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-screen {
    animation: rotate 10s;
}